.modal {
  background-color: #1c1c21;
  padding: 20px;
  border-radius: 40px;
  position: relative;
  z-index: 1001;
  transition: all 0.3s ease 0s;
}

.modal.ingredient {
  width: 550px;
  height: 400px;
}

.modal.order {
  width: 520px;
  height: 500px;
}

.modal_close {
  position: absolute;
  margin: 30px 20px 0 0;
  top: 0px;
  right: 0px;
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
  z-index: 10002;
  cursor: pointer;
}
