.header_wrapp {
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  height: 88px;
  background-color: #1c1c21;
}

.header__leftside_wrapp {
  display: flex;
  flex-grow: 1px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 383px;
  gap: 8px;
}

.constructor_of {
  composes: text text_type_main-default from global;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  width: 178px;
  height: 56px;
  border-radius: 40px;
}

.order_list {
  composes: text text_type_main-default from global;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  text-decoration: none;
  width: 197px;
  height: 56px;
  border-radius: 40px;
}

.header__logo_wrapp {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

.header__profile_wrapp {
  composes: text text_type_main-default from global;
  line-height: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 208px;
  height: 56px;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  margin: 0 50px 0 70px;
}

.inactive {
  composes: text text_type_main-default text_color_inactive from global;
  color: grey;
}
