.main__wrapp {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.main__section_tabs {
  composes: text text_type_main-default from global;
  display: flex;
}

.cards__wrapper {
  width: 630px;
  height: 450px;
  overflow: scroll;
  margin-top: 10px;
}

.cards__container {
  display: grid;
  grid-template-columns: auto auto;
  width: 600px;
}
