.burgerconstructor__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 400px;
}

/* Place for drop bun */
.upperBunPlace {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px 50px 10px 10px/50px 50px 10px 10px;
  width: 480px;
  height: 90px;
  background-color: #222;
}
.downBunPlace {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 50px 50px/10px 10px 50px 50px;
  width: 480px;
  height: 90px;
  background-color: #222;
}

/* Place for drop ingredients */
.middleIngredientPlace {
  composes: text text_type_main-default from global;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow-y: auto;
  width: 100%;
  gap: 10px;
  height: 400px;
  background-color: #222;
}

/* Заказ и сумма */
.burgerconstructor__order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.burgerconstructor__order_currency {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* медиа-запросы */
@media (max-width: 1400px) {
  .burgerconstructor__container {
    width: 500px;
    margin-top: 40px;
  }
  .burgerconstructor__picker_section {
    width: 460px;
    height: 540px;
  }
  .burgerconstructor__middle {
    width: 520px;
  }
  .burgerconstructor__middle_elements {
    width: 500px;
  }
}

@media (max-width: 1100px) {
}

/* @media (max-width: 1220px) {
  .burgerconstructor__container {
    width: 400px;
    margin-top: 0px;
  }
  .burgerconstructor__picker_section {
    width: 400px;
    height: 450px;
  }
  .burgerconstructor__middle {
    width: 520px;
  }
  .burgerconstructor__middle_elements {
    width: 520px;
  }
  .burgerconstructor__order {
    margin-top: 20px;
  }
} */
