.burgerconstructor__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-top: 40px;
  width: 400px;
}

/* drop zone for all zones */
.burgerconstructor__dropzone {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Place for drop bun */
.upperBunPlace {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px 60px 20px 20px/60px 60px 20px 20px;
  width: 480px;
  height: 80px;
  background-color: #222;
}
/* isHoverTopBun */
.isHoverTopBun {
  scale: 1.1;
  transition: all 0.3s ease 0s;
}

.downBunPlace {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 60px 60px/20px 20px 60px 60px;
  width: 480px;
  height: 80px;
  background-color: #222;
}
/* isHoverBottomBun */
.isHoverBottomBun {
  scale: 1.1;
  transition: all 0.3s ease 0s;
}

/* Place for drop ingredients */
.middleIngredientPlace {
  composes: text text_type_main-default from global;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow-y: auto;
  width: 480px;
  gap: 10px;
  height: 400px;
  background-color: #222;
}
/* isHoverIngredients */
.isHoverIngredients {
  scale: 1.05;
  transition: all 0.3s ease 0s;
}

/* Заказ и сумма */
.burgerconstructor__order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.burgerconstructor__order_currency {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* медиа-запросы */
@media (max-width: 1400px) {
  .burgerconstructor__container {
    margin-top: 40px;
  }
}

@media (max-width: 1200px) {
  .burgerconstructor__container {
    margin-left: 50px;
  }
}

@media (max-width: 1000px) {
  .burgerconstructor__container {
    margin-left: 0px;
  }
}
