.loginpage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginpage__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0 60px 100px;
  gap: 24px;
}

.loginpage__register {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 0 100px;
}

.loginpage__forgot_password {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 0 100px;
}
