.orderdetails__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 50px 0 50px 0;
}

.orderdetails__identify {
  composes: text text_type_main-default from global;
  margin: 4px 0 30px 0;
}

.orderdetails__comment_1 {
  composes: text text_type_main-small from global;
  margin: 30px 0 8px 0;
}

.orderdetails__comment_2 {
  composes: text text_type_main-small text_color_inactive from global;
}
